.Home_Page{
    height: 100vh;
    width: 100%;
    /* border: 1px solid black; */
}
.container1{
    height: 500px;
    width: 100%;
    background-image: url(./Jungle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container2{
    height: 400px;
    width: 100%;
    /* border: 0.5px solid; */
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}
.container3{
    /* border: 0.5px solid; */
    display: flex;
    align-items: center;
    justify-content:space-evenly ;

}
.REACTLOGO{
    height: 300px;
    width: 300px;
    border: 0.5 px solid;
}
img{
    height: 300px;
    width: 300px;
}
.info{
    height: 100px;
    width: 500px;
    border: 0.5px solid;
    overflow: hidden;
    border: 1px solid;
}
p{
    height: 150px;
    width: 400px;
    text-align: center;
}
.card1{
    height: 500px;
    width: 400px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card2{
    height: 500px;
    width: 400px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card3{
    height: 500px;
    width: 400px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card4{
    height: 500px;
    width: 400px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.htmlogo{
    height: 300px;
    width: 400px;
    margin-bottom: 120px;
    background-image: url(./Profilephoto.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.csslogo{
    height: 300px;
    width: 400px;
    margin-bottom: 120px;
    background-image: url(./Profilephoto.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.javascriptlogo{
    height: 300px;
    width: 400px;
    margin-bottom: 75px;
    background-image: url(./Profilephoto.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1:hover{
    background-color: black;
    color: aliceblue;
}
.card2:hover{
    background-color: black;
    color: aliceblue;
}
.card3:hover{
    background-color: black;
    color: aliceblue;
}
.card4:hover{
    background-color: black;
    color: aliceblue;
}