.signup_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 150px; */
    background-color: #0f0f0f;
    font-size: large;
    font-family: 'Times New Roman', Times, sans-serif;
}
.signup_form{
    height: 400px;
    width: 400px;
    border: 1px solid;
    padding: 10px;
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0px 0px 25px black;
    margin-bottom: 50px;
    border: none;
}
input{
    background-color: #fdfdfd;
    border: 0.5px solid rgb(190, 189, 189);
    border-radius: 2px;
    width: 350px;
    height: 30px;
    outline: none;
}
input:hover{
    border: none;
    border-bottom: 2px solid rgb(79, 79, 255);
}
.Signup{
    background-color: rgb(91, 91, 214);
    height: 35px;
    color: #fdfdfd;
    text-decoration: none;
    width: 350px;
    height: 30px;
}
.Signup:hover{
    text-decoration: underline;
}